<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="CoarseFineLocation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Week2"
        tools:targetApi="31"

        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true">

        <meta-data android:name="com.kakao.sdk.AppKey" android:value="d6f429db5b8adc33de0935590d097879"/>

        <activity
            android:name=".LoginActivity_yung"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Week2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity"/>
        <activity android:name=".RegisterActivity_yung"/>
        <activity android:name=".HomeActivity"/>
        <activity android:name=".MapActivity" />
        <activity android:name=".GoogleLoginActivity"/>
        <activity android:name=".GroupInfoActivity"/>

<!--        <service android:name=".BackgroundGPSService"-->
<!--            android:enabled="true"-->
<!--            android:exported="false"/>-->
    </application>

</manifest>